<ng-container *ngIf=" pokemonDetail">
    <mat-tab-group (selectedTabChange)="loadEvolutionChain($event)" dynamicHeight>
        <!-- Detail tab-->
        <mat-tab label="Details">
            <mat-card appearance="raised" class="example-card" style="text-align: center;">
                <img mat-card-image src={{pokemonDetail.sprites.front_default}}>
                <mat-card-content>
                    <h1 style="margin-top: 15px; font-weight: bold">
                        {{ pokemonDetail.name | uppercase }}
                    </h1>
                    <p>Height: {{ pokemonDetail.height }}</p>
                    <p>Weight: {{ pokemonDetail.weight }}</p>
                </mat-card-content>
                <mat-card-content>
                    <h2 style="margin-top: 15px; font-weight: bold">Stats</h2>
                    <table>
                        <tr>
                            <th>Type 1</th>
                            <th *ngIf="pokemonDetail.types.length == 2">Type 2</th>
                        </tr>
                        <tr>
                            <td>{{pokemonDetail.types[0].type.name}}</td>
                            <td *ngIf="pokemonDetail.types[1]">{{pokemonDetail.types[1].type.name}}</td>
                        </tr>
                    </table>
                    <br>
                    <h2><b>Base stats:</b></h2>
                    <table>
                        <ng-container *ngFor="let baseStat of pokemonDetail.stats">
                            <tr>
                                <th>{{baseStat.stat.name.toUpperCase()}}</th>
                            </tr>
                            <tr>
                                <td>{{baseStat.base_stat}}</td>
                            </tr>
                        </ng-container>
                    </table>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <!-- Evolution tab-->
        <mat-tab label="Evolution">
            <div class="spinner">
                <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
            <mat-grid-list [cols]="evolutionChain.length" gutterSize="10px" *ngIf="!loading">
                <mat-grid-tile *ngFor="let pokemon of evolutionChain, let i= index; trackBy:trackByFn">
                    <mat-card class="example-card" style="text-align: center; cursor: pointer">
                        <img mat-card-image [src]="pokemon?.sprites?.other?.dream_world?.front_default"
                            [alt]="pokemon.species_name" style="width: 150px; height: 100px" />
                        <mat-card-content>
                            <p style="margin-top: 15px">
                                <span>Trigger name: </span>{{ pokemon.name | uppercase}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <b></b><span style='font-size:100px;' *ngIf="i < evolutionChain.length-1"> &#8594;</span>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</ng-container>