<ng-container *ngIf=" pokemonDetail">
    <mat-tab-group (selectedTabChange)="loadEvolutionChain($event)" dynamicHeight>
        <mat-tab label="Details">
            <mat-card appearance="raised" class="example-card" style="text-align: center;">
                <img mat-card-image src={{pokemonDetail.sprites.front_default}}>
                <mat-card-content>
                    <p style="margin-top: 15px; font-weight: bold">
                        {{ pokemonDetail.name | uppercase }}
                    </p>
                    <p>Height: {{ pokemonDetail.height }}</p>
                    <p>Weight: {{ pokemonDetail.weight }}</p>
                </mat-card-content>
                <mat-card-content>
                    <span><b>Type 1:</b> {{pokemonDetail.types[0].type.name}}</span><br>
                    <span *ngIf="pokemonDetail.types.length == 2">
                        <b>Type 2:</b> {{pokemonDetail.types[1].type.name}}
                    </span>
                    <br>
                    <span><b>Base stats:</b></span>
                    <div class="statsPokemon" *ngFor="let baseStat of pokemonDetail.stats">
                        <span>{{baseStat.stat.name.toUpperCase()}} = {{baseStat.base_stat}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Evolution">
            <div class="spinner">
                <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
            <mat-grid-list [cols]="evolutionDetails.length" gutterSize="10px"
                *ngIf="evolutionDetails && evolutionDetails.length && !loading">
                <mat-grid-tile *ngFor="let pokemon of evolutionDetails">
                    <mat-card class="example-card" style="text-align: center; cursor: pointer">
                        <img mat-card-image [src]="pokemonDetail.sprites.front_default" [alt]="pokemon.species_name"
                            style="width: 150px; height: 100px" />
                        <mat-card-content>
                            <p style="margin-top: 15px">
                                {{ pokemon.species_name | uppercase }}
                            </p>
                            <p style="margin-top: 15px">
                                <span>Min level: </span>{{ pokemon.min_level }}
                            </p>
                            <p style="margin-top: 15px">
                                <span>Trigger name: </span>{{ pokemon.trigger_name }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</ng-container>